<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>

<body class="body_home">
<main>
    <div class="home_title"> 
        <div class="home_title_div">
            <h1>¡Hola, soy <br>Juan Cruz Morán!</h1>
            <h3>Full stack developer</h3>
            <article class="home_article_info_div">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Doloremque molestias laboriosam natus suscipit? Corrupti ullam est doloremque voluptatem, 
                        mollitia dolor recusandae accusantium rerum libero eaque,
                        beatae aperiam quisquam harum. Natus.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Doloremque molestias laboriosam natus suscipit? Corrupti ullam est doloremque voluptatem, 
                        mollitia dolor recusandae accusantium rerum libero eaque,
                        beatae aperiam quisquam harum. Natus.</p>
                </div>
                <div class="home_button" id="button_hidden">
                    <button>DESCARGAR</button>
                </div>
            </article>
        </div>
        <div class="home_image">
            <img src="/images/me.jpg" alt="">
        </div>
    </div>
</main>
    <article class="home_article_info">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Doloremque molestias laboriosam natus suscipit? Corrupti ullam est doloremque voluptatem, 
                mollitia dolor recusandae accusantium rerum libero eaque,
                beatae aperiam quisquam harum. Natus.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Doloremque molestias laboriosam natus suscipit? Corrupti ullam est doloremque voluptatem, 
                mollitia dolor recusandae accusantium rerum libero eaque,
                beatae aperiam quisquam harum. Natus.</p>
        </div>
    </article>
    <div class="home_button">
        <button>DESCARGAR</button>
    </div>
    <article class="home_logos"></article>
    <div class="home_networks">
        <img src="/images/icons/linkedin.png" alt="">
        <img src="/images/icons/instagram.png" alt="">
        <img src="/images/icons/github.png" alt="">
    </div>
</body>
