<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>
<body>
    <section class="info_section">
        <div class="info_image1">
            <img src="/images/me.jpg" alt="">
        </div>
        <div class="info">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Repellat dolorem voluptas laboriosam soluta itaque nostrum, cupiditate magnam, 
                reprehenderit architecto fugit voluptatibus modi mollitia sit, minima molestiae omnis vitae ullam adipisci.
                Maiores saepe facere aspernatur! Voluptatum perferendis culpa quia et? Minima reiciendis voluptate dolorum earum error.
                Ipsum, consequuntur illum, repellendus nemo sint nihil eum placeat cumque earum adipisci id quaerat velit?
            </p>
        </div>
        <div class="info_image2">
            <img src="/images/me.jpg" alt="">
        </div>
        <div class="info" id="info_2">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Repellat dolorem voluptas laboriosam soluta itaque nostrum, cupiditate magnam, 
                reprehenderit architecto fugit voluptatibus modi mollitia sit, minima molestiae omnis vitae ullam adipisci.
                Maiores saepe facere aspernatur! Voluptatum perferendis culpa quia et? Minima reiciendis voluptate dolorum earum error.
                Ipsum, consequuntur illum, repellendus nemo sint nihil eum placeat cumque earum adipisci id quaerat velit?
            </p>
        </div>
        <div class="info">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Repellat dolorem voluptas laboriosam soluta itaque nostrum, cupiditate magnam, 
                reprehenderit architecto fugit voluptatibus modi mollitia sit, minima molestiae omnis vitae ullam adipisci.
                Maiores saepe facere aspernatur! Voluptatum perferendis culpa quia et? Minima reiciendis voluptate dolorum earum error.
                Ipsum, consequuntur illum, repellendus nemo sint nihil eum placeat cumque earum adipisci id quaerat velit?
            </p>
        </div>
    </section>
</body>
</html>