.body_home {
    padding: 0;
    margin: 0;
}

.home_title {
    width: 100%;
    padding-left: 5%;
    padding-top: none;
    font-size: 15px;
    letter-spacing: 0.50px;
    color: var(--white);
    line-height: 3rem;
}
.home_title h1 {
    font-family: var(--tipografia);
    font-weight: 500;
}
.home_title h3 {
    color: var(--blueLight);
    font-size: 20px;
    font-family: var(--tipografia);
    font-style: italic;
    font-weight: 300;
}
.home_article_info {
    padding-left: 5%;
    padding-top: 20px;
    color: var(--white);
    letter-spacing: 0.50px;
    initial-letter-align: 2px;
    width: 80%;
    line-height: 1.5;
    font-family: var(--tipografia);
    font-weight: 300;
}
#button_hidden {
    display: none;
}
.home_article_info_div {
    display: none;
}
.home_button {
    text-align: center;
    width: 100%;
    height: 30%;
}
.home_button button {
    margin-top: 2rem;
    background-color: var(--blueLight);
    height: 6rem;
    width: 70%;
    border-style: none;
    border-radius: 10%;
    transition: all ease 0.5s;
    font-family: var(--tipografiaButton);
    font-weight: 600;
    font-size: 25px;
}

.home_button button:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background-color: #04d1ff8e;
    color: rgb(207, 229, 239);
    cursor: pointer;
}

.home_networks {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;
}
.home_networks img {
    border-radius: 15px;
}
.home_image {
    display: none;
}

@media (min-width : 1024px) {
    .home_title {
        padding-top: 2rem;
        letter-spacing: 1px;
        justify-content: space-between;

    }
    .home_image {
        display: flex;
        justify-content: end;
        flex-wrap: nowrap;
        padding-right: 8%;
        
    }
    .home_image img {
        width: 300px;
        height: 460px;
        border-radius: 20px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }
    .home_title {
        display: flex;
    }
    .home_title_div {
        height: 40%;
    }
    .home_article_info_div {
        display: flex;
        width: 90%;
        flex-direction: column;
    }
    .home_article_info {
        display: none;
    }
    #button_hidden {
        display: block;
        width: 50%;
    }
    .home_button {
        display: none;
    }
    .home_networks {
        justify-content: end;
        margin-top: 0px;
        width: 95%;
    }
}