<header>
  <section class="header_section">
    <article class="header_title">
      <div class="header_title_logo">
        <h2>Juan Cruz</h2>
        <div class="header_title_menu">
          <i class="fa-solid fa-bars"></i>
      </div>
        </div>


    </article>
    
    <nav class="header_menu" id="header_menu">
      <ul>
        <h2 class="header_title_name">
          Juan Cruz
        </h2>
        <a href="/"><li>inicio</li></a>
        <a href="/info"><li>información</li></a>
        <a href=""><li>educación</li></a>
        <a href=""><li>experiencia</li></a>
        <a href=""><li>contacto</li></a>
      </ul>
    </nav>

  </section>
  <script src='/javascript/header.js'></script>
</header>