<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juan Cruz Moran</title>
    <!-- CSS link (loading Semantic UI from a CDN) -->
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="icon" type="image/png" href="images/icons/favicon.png">
    <script src="https://kit.fontawesome.com/b4935bb790.js" crossorigin="anonymous"></script>
 </head>